* {
  font-family: 'Encode Sans Expanded', sans-serif;
}

.nav-item .dropdown-menu {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.nav-item .dropdown-item {
  color: #ffffff;
}

.nav-item .dropdown-item:hover {
  background: #f0ad4e;
}

p {
  font-size: 20px;
}